<% unless @contacts.blank?%>
<strong>Gmail Contacts</strong>
<table class="table table-condensed">
	<tr>
		<th>Name</th><th>Email</th>
	</tr>
	
	<% @contacts.each do |contact|%>
	<tr>
		<td><%= contact[:name]%></td><td><%= mail_to contact[:email]%></td>
	</tr>
	<%end%>
</table>
<%end%>